html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    text-size-adjust: 100%;
    overflow-x: hidden;
    color: rgb(0, 0, 0);
    font: 300 14px / 1.9 "Noto Sans JP", Arial, Verdana, 游ゴシック, YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, sans-serif;
    background: rgb(255, 255, 255);
}

/*list-btn*/

a{
  text-decoration: none;
  color: white;
}

a:hover{
  border-bottom:  1px solid #ccc;
}

/*list-btn*/

/*header*/

header{
  width: 100%;
	height: 70px;
	position: fixed;
}

.header {
	width: 100%;
}

.header i{
	display: none;
}

.header .drawer-btn{
	display: none;
}
/*header*/

/*gnav-list*/

.gnav-list{
  margin: 0 ;
	height: 70px;
  width: 100%;
	background-color: black;
	z-index: 999;
}

.gnav-list ul{
	display: flex;
	width: 40%;
	margin: 0 30%;
}

.gnav-list li{
	font-size: 30px;
	padding: 10px 5%;
}

/*gnav-list*/

/*mainvisual*/

.mainvisual{
 width: 100%;
 height: 600px;
 text-align: center;
 margin-top: 0;
 background-image: url(haikei.png);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center center;
}

.mainvisual{
	width: 100%;
}

.mainvisual p{
	padding: 15% 0;
	font-size: 60px;
}

/*mainvisual*/

/*h1見出し*/
h1{
  font-family: 'Pacifico', cursive;
  font-size: 22px;
  position: relative;
  padding: 0 55px;
  width: 50%;
  margin: 0 20%;
  text-align: center;
  margin-bottom: 55px;
	margin-top: 50px;
}

h1::before,
h1::after {
  content: "";
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 35%;
  height: 1px;
  background-color: black;
}

h1::before{
  left: 0;
}

h1::after{
  right: 0;
}
/*h1見出し*/

/*About*/
#about{
  width: 100%;
	margin-bottom: 0;

}

.profile{
	display: flex;
	width: 70%;
	margin: 0 15%;
}

#about .about-photo{
	width: 50%;
}

#about .sentence{
	width: 45%;
	height: 50%;
	margin-top: 5%;
	margin-left: 10%;
	background-color: #F5F4F4;
	border-radius: 15px;
}

#about p{
	font-size: 15px;
	padding: 10px;
}

#about img{
	width: 100%;
	border-radius: 50%;
}
/*About*/

/*skills*/
#skills{
	width: 100%;
}

#skills ul{
	display: flex;
	width: 60%;
	margin: 0 10%;
}

#skills .img{
	width: 100%;
}

#skills img{
	width: 80%;
}

#skills .sentence3{
	margin-top: 110%;
	width: 800%;
}

#skills .sentence1{
	padding-left: 18%;
}

#skills .photoshop{
	padding-top: 50px;
	width: 600%;
}
/*skills*/

/*works*/
#works{
	width: 100%;
}

#works p{
	text-align: center;
	margin-bottom: 20px;
}

#works a:hover{
	opacity: 0.5;
}

#works ul{
	/*display: flex;*/
	width: 60%;
	margin: 0 20%;
}

#works img{
	width: 100%;
	padding: 20px 0;
}
/*works*/

/*contact*/
#contact {
	width: 100%;
	font-size: 15px;
	text-align: center;
}

#contact p{
	margin-bottom: 20px;
}

#contact i{
	color: black;
	width: 15%;
	padding: 20px 0;
}

/*contact*/

/*footer*/

footer{
	width: 100%;
	height: 50px;
	text-align: center;
	background-color: #343a40;
}

footer p{
	color: white;
	padding-top: 15px;
}
/*footer*/

@media screen and (max-width:780px){

	h1{
		width: 70%;
		margin: 50px 0;
		margin-left: 5%;
	}

	.header{
		background-color: black;
		height: 70px;
		width: 100%;
	}

	.header i{
		display: block;
		color: white;
		position: absolute;
		right: 10px;
		top: 23px;
		z-index: 999;
	}

	.header .drawer-btn{
		display: block;
		position: absolute;
		right: 10px;
		top: 23px;
		transform: scale(2.5);
		opacity: 0;
		z-index: 999;
	}

	.drawer-btn:checked ~ .gnav-list {
		transform: translateY(0);
	}

	.gnav-list{
		height: 413px;
		text-align: center;
		transform: translateY(-150%);
		transition: 0.5s;
		display: block;
	}

	.gnav-list ul{
		display: block;
		padding-top: 100px;
		width: 100%;
		margin: 0;
	}

	.gnav-list li{
		width: 100%;
		border-bottom: solid 1px white;
	}

.mainvisual p{
	padding-top: 30%;
}

	#about {
		width: 100%;
	}

	.profile{
		display: block;
		width: 80%;
		margin: 0 10%;
	}

	#about .about-photo{
		width: 100%;
	}

	#about .sentence{
		width: 100%;
		height: 50%;
		margin: 0;
		margin-top: 5%;
		background-color: #F5F4F4;
		border-radius: 15px;
	}

	/*skills*/
	#skills{
		width: 100%;
	}

	#skills ul{
		display: block;
		width: 80%;
		margin: 0 10%;
		text-align: center;
	}

	#skills .img{
		width: 100%;
	}

	#skills img{
		width: 50%;
	}

	#skills .sentence3{
		margin-top: 10%;
		width: 100%;
	}

	#skills .sentence1{
		padding-left: 0;
	}

	#skills .photoshop{
		padding-top: 50px;
		width: 35%;
	}
	/*skills*/

}
